#root {
  margin: 0 auto;
  text-align: center;
  overflow: hidden !important;

  --color-hoverable-text: #a78bfa;
}

body, html, .App {
  overflow: hidden !important;
}

/* Animation keyframes for logo if needed in the future */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}